:root {
  --primary-color: #FFFFFF;
  --secondary-color: #333333;
  --primary-font-color: #424242;
  --secondary-font-color: #FFFFFF;
  --border-color: #BDBDBD;
  --light-gray: #AFAFAF;
  --light-gray-transparent: rgba(66, 66, 66, 0.5);
  --view-position: 140vh;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Georgia,Cambria,"Times New Roman", Times, serif;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: 0 auto !important;
}

body:before {
  content: "";
  transition: opacity .35s cubic-bezier(0,0,.3,1);
  opacity: 0;
  will-change: opacity;
}

body.nic-spinner--loading:before {
  position: fixed;
  content: " ";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 10;
}

.nic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: var(--primary-color);
  height: 54px;
  border-bottom: 1px solid var(--border-color);
}

.nic-login {
  color: var(--primary-font-color);
  text-decoration: none;
}

.nic-main-headline {
  position: relative;
  height: 45%;
  background-color: var(--light-gray);
  margin: 0;
  padding: 0;
}

.nic-main-headline--app-shell {
  opacity: 0.7;
}

.nic-main-headline__image {
  display: block;
  background-position: 50% 50%;
  background-origin: border-box;
  background-size: cover;
  background-color: var(--light-gray);
  height: 100%;
}

.nic-main-headline__details {
  position: absolute;
  height: 48%;
  width: 100%;
  bottom: 0;
  background-color: var(--light-gray-transparent);
  padding: 15px;
  color: var(--secondary-font-color);
  letter-spacing: 1px;
}

.nic-title {
  margin: 0;
  font-weight: lighter;
}

.nic-subtitle {
  font-weight: lighter;
}

.nic-main-headline__subtitle {
  margin-top: 15px;
  margin-bottom: 0;
}

.nic-main-headline__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  margin-top: 10px;
  width: 100px;
}

.nic-action {
  text-decoration: none;
}

.nic-articles {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nic-card {
  border: 1px solid var(--border-color);
}

.nic-article {
  display: flex;
  width: 48%;
  height: 230px;
  margin-top: 20px;
}

.nic-article__details {
  width: 60%;
  height: 100%;
  padding: 15px
}

.nic-article__title {
  margin: 0;
}

.nic-article__subtitle {
  color: var(--light-gray);
}

.nic-article__image-container {
  width: 40%;
  height: 100%;
  background-color: var(--light-gray);
}

.nic-article__image {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--light-gray);
  background-position: 50% 50%;
  background-size: cover;
}

.nic-footer {
  display: flex;
  align-items: center;
  height: 84px;
  padding: 15px;
  background-color: var(--secondary-color);
}

@media (max-width: 520px) {
  .nic-article {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .nic-article {
    flex-direction: column;
    flex-flow: column-reverse
  }

  .nic-article__details {
    height: 60%;
    width: 100%;
  }

  .nic-article__image-container {
    height: 40%;
    width: 100%;
  }
}

.nic-view {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transform: translateX(0) translateY(0);
  transition: transform .35s cubic-bezier(0,0,.3,1);
  will-change: transform, opacity;
}

.nic-view--hide {
  opacity: 0;
}

.nic-view--bottom {
  transform: translateY(var(--view-position));
}

.nic-view--right {
  transform: translateX(var(--view-position));
}

.nic-view--left {
  transform: translateX(-var(--view-position));
}
