@import './variables.css';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Georgia,Cambria,"Times New Roman", Times, serif;
  line-height: var(--line-height--normal);
}

h1, h2, h3, h4, h5, h6 {
  font-style: italic;
}

noscript {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto !important;
}

body:before {
  content: "";
  transition: opacity .35s cubic-bezier(0,0,.3,1);
  opacity: 0;
  will-change: opacity;
}

body.spinner--loading:before {
  position: fixed;
  content: " ";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 10;
}

.header {
  position: absolute;
  top: 0;
  display: block;

  background-color: var(--primary-color);
  height: var(--header-height);
  width: 100%;
  z-index: var(--zindex--5);
  border-bottom: 1px solid var(--border-color);
}

.header--spacer {
  position: relative;
  height: var(--header-height);
  z-index: var(--zindex--1);
}

.header-inner {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: var(--header-max-width);
  height: var(--header-height);

  padding: 0 20px;
  margin: 0 auto;
}

.logo {
  color: var(--color--black);
  font-weight: 900;
  font-size: 32px;
  font-family: 'Playfair Display script=all rev=1', serif;
  font-style: normal;
  text-decoration: none;
}

.login {
  color: var(--primary-font-color);
  text-decoration: none;
}

.title {
  margin: 0;
  margin-bottom: 4px;
  color: var(--primary-font-color);
}

.title__link {
  text-decoration: none;
  color: inherit;
}

.title__link:hover {
  text-decoration: underline;
}

.subtitle {
  font-weight: lighter;
  color: var(--font-color--light);
  margin: 0;
}

.actions {
  margin-top: 10px;
}

.action {
  text-decoration: none;
}

.divider {
  position: relative;
  margin: 25px auto;
  max-width: var(--container-max-width);
  border-bottom: 1px solid var(--border-color);
}

@media screen and (max-width: 1031px) {
  .divider {
    margin-right: 15px;
    margin-left: 15px;
  }
}

.card {
  border: 1px solid var(--border-color);
}

.footer {
  display: flex;
  align-items: center;
  height: 84px;
  padding: 15px;
  background-color: var(--secondary-color);
}

.footer-logo {
  color: var(--primary-color);
  font-weight: 900;
  font-size: 32px;
  font-family: 'Playfair Display script=all rev=1', serif;
  font-style: normal;
  text-decoration: none;
}

.view {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transform: translateX(0) translateY(0);
  transition: transform .35s cubic-bezier(0,0,.3,1);
  will-change: transform, opacity;
}

.view--hide {
  opacity: 0;
  transform: translateY((var(--view-position)));
}

.view--bottom {
  transform: translateY(var(--view-position));
}

.view--right {
  transform: translateX(var(--view-position));
}

.view--left {
  transform: translateX(-var(--view-position));
}
