.article-view {
  background-color: #ffffff;
}

.article-detail {
  width: 100%;
}

.article-header {
  width: 100%;
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 0 20px;
}

.article-view__title {
  margin-top: 35px;
}

.article-content {
  width: 100%;
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 0 20px;
}

.image {
  max-width: var(--container-width-height);
  margin: 0;
  margin-top: 35px;
  text-align: center;
}

.image__img {
  vertical-align: top;
  margin: auto;
}

.image__caption {
  font-size: var(--font-size--small);
  line-height: var(--line-height--small);
  margin: 7px 20px 0;
  color: var(--font-color--light);
}

.image-a11y {
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  position: absolute;
  width: 1px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: -1px;
  overflow: hidden;
  padding: 0;
}

.authors {
  display: inline-block;
}

.authors__details {
  display: inline-block;
  font-size: var(--font-size--small);
  line-height: var(--line-height--normal);
  font-weight: 700;
  color: var(--color--black);
}

.author__link {
  display: inline;
  color: var(--color--black);
  text-decoration-color: var(--light-gray);
}

.article-p {
  margin-top: 20px;
}