.home-headline {
  position: relative;
  height: 350px;
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0;
}

.home-headline--app-shell {
  opacity: 0.7;
}

.home-headline__image {
  display: block;
  background-position: 50% 50%;
  background-origin: border-box;
  background-size: cover;
  background-color: var(--light-gray);
  height: 60%;
}

.home-headline__details {
  position: absolute;
  height: 40%;
  width: 100%;
  bottom: 0;
  padding: 15px;
  padding-top: 30px;
  letter-spacing: 1px;
}

.home-headline__subtitle {
  margin-bottom: 0;
}

.home-headline__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  width: 100px;
}

.articleList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: var(--container-max-width);
  min-height: 400px;
  padding: 15px;
  margin: 0 auto;
}

.articleItem {
  display: flex;
  width: 48%;
  height: 230px;
  margin-top: 20px;
}

.articleItem__details {
  width: 60%;
  height: 100%;
  padding: 15px
}

.articleItem__title {
  margin: 0;
}

.articleItem__image-container {
  position: relative;
  width: 40%;
  height: 100%;
  background-color: var(--light-gray);
}

.articleItem__image {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--light-gray);
  background-position: 50% 50%;
  background-size: cover;
}

.articleItem__image--noscript {
  top: 0;
  position: absolute;
}

@media (max-width: 520px) {
  .articleItem {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .articleItem {
    flex-direction: column;
    flex-flow: column-reverse
  }

  .articleItem__details {
    height: 60%;
    width: 100%;
  }

  .articleItem__image-container {
    height: 40%;
    width: 100%;
  }
}
