:root {
  --primary-color: #FFFFFF;
  --secondary-color: #333333;
  --primary-font-color: #424242;
  --secondary-font-color: #FFFFFF;
  --color--black: #000;
  --border-color: #BDBDBD;
  --light-gray: #AFAFAF;
  --light-gray-transparent: rgba(66, 66, 66, 0.5);

  --view-position: 140vh;
  --height--header: 54px;
  --container-width: calc(100% - 40px);
  --container-max-width: 650px;

  --font-size--small: .75rem;
  --font-color--light: #666;
  --line-height--small: .875rem;
  --line-height--normal: 1.47rem;
}
